.aboutUs_main {
  width: 100%;
  height: auto;
  background: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 6.5rem 0;
}
.first_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.text_section {
  max-width: 36.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading {
  margin-top: 1rem;
}
.para {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}
.image_container {
  width: 31.625rem;
  height: 25.625rem;
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
}
.image_container .background_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ornament_card {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  width: 10.75rem;
  height: 11.675rem;
  border-radius: 0.5rem;
  background: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem;
}
.ornament_icon {
  position: absolute;
  top: -2rem;
  left: 0.65rem;
  width: 3.6875rem;
  height: 3.6875rem;
}
.count_text {
  color: var(--dark-blue);
  font-size: 3rem;
  font-weight: 700;
}
.award_winning {
  text-align: center;
  padding: 1.1875rem 1.375rem 1.125rem 1.375rem;
  border-radius: 0.25rem;
  background: #0e33cb;
  color: var(--primary-white);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 100%; /* 1.125rem */
  letter-spacing: 0.10688rem;
  text-transform: uppercase;
}
.cards_container {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

@media only screen and (max-width: 1250px) {
  .aboutUs_main {
    padding: 6.5rem 5%;
  }
  .image_container {
    min-width: 30rem;
  }
  .ornament_card {
    bottom: 3rem;
    left: 3rem;
    width: 10rem;
    height: 11rem;
    padding: 0.35rem;
  }
  .ornament_icon {
    top: -1.5rem;
    left: 0.65rem;
    width: 3.25rem;
    height: 3.25rem;
  }
  .count_text {
    font-size: 2.5rem;
  }
  .award_winning {
    padding: 1rem 1.25rem 1rem 1.25rem;
    font-size: 1rem;
  }
  .cards_container {
    margin-top: 5rem;
    gap: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .aboutUs_main {
    padding: 5rem 5%;
  }
  .first_section {
    gap: 2rem;
  }
  .image_container {
    min-width: 26rem;
  }
  .ornament_card {
    bottom: 1.85rem;
    left: 1.85rem;
    width: 8rem;
    height: 8.5rem;
    padding: 0.35rem;
  }
  .ornament_icon {
    width: 3.125rem;
    height: 3.125rem;
  }
  .count_text {
    font-size: 2rem;
    margin-bottom: 0.25rem;
  }
  .award_winning {
    padding: 0.85rem 1rem;
    font-size: 0.85rem;
    width: 100%;
  }
  .cards_container {
    margin-top: 5rem;
    gap: 1rem;
  }
}

@media only screen and (max-width: 830px) {
    .aboutUs_main {
        padding: 4rem 5%;
      }
      .first_section {
        gap: 3rem;
        flex-direction: column;
        align-items: flex-start;
      }
      .image_container {
        width: 100%;
        min-width: 0;
      }
      .cards_container {
        margin-top: 5rem;
        gap: 1rem;
        flex-direction: column;
      }
}